@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

$primary_color: #ff3333;
$main_white: #ffffff;
$blue_ascent: #4d7bd1;
$mainFont: "Poppins", sans-serif;
