@import "variables_light";

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: $primary_color;
}

.container-fluid {
  padding: 0;
}

.header-main {
  width: 100%;
  height: 100px;
  position: fixed;
  color: $main_white;
  overflow: hidden;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba($primary_color, 0.8);
  z-index: 1;

  .nav-items,
  .title {
    font-size: 10px;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;

    a {
      color: $main_white;
      text-decoration: none;
    }
  }
}

.safe-space {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 80%;
  margin-left: 80px;

  @media screen and (max-width: 1024px) {
    margin-left: 60px;
  }
}

.nav-space {
  margin-left: 100px;
}

.content-main {
  height: 100vh;
  min-height: 600px;
  padding: 100px 20px 0 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;

  ul {
    position: fixed;
    margin: 60px 0 0 0;
    padding: 0;
    list-style: none;
    min-width: 300px;
    li {
      font-size: 11px;
      font-weight: 500;
      text-transform: uppercase;

      margin-bottom: 20px;
      cursor: pointer;

      a {
        color: $main_white;
        text-decoration: none;
      }
    }
  }

  .content-field {
    flex: 1;
    position: absolute;
    left: 25%;
    width: 75%;
  }

  .socials-main {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 20px;
    position: fixed;
    height: calc(100% - 100px);

    svg {
      width: 15px;
      margin-bottom: 10px;
      color: $main_white;
      cursor: pointer;
    }
  }

  .socials-main-mobile {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    align-items: center;
    padding: 10px 0;
    bottom: 20px;
    z-index: 10;
    left: 0;
    width: 50px;
    background-color: $primary_color;
    border: 2px solid rgba($blue_ascent, 0.7);
    border-left: none;
    transform: translateX(-100%);
    transition: 0.3s ease;

    &:hover {
      transform: translateX(0);
    }

    svg {
      width: 15px;
      margin-bottom: 10px;
      color: $main_white;
      cursor: pointer;
    }

    .drawal {
      position: absolute;
      width: 40px;
      height: 40px;
      background-color: $primary_color;
      border: 2px solid rgba($blue_ascent, 0.7);
      border-left: none;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba($blue_ascent, 0.8);
      right: 0;
      transform: translateX(100%);
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
}

.main-404 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 100px;
  margin-top: 100px;
  padding: 0 20px;
  text-align: center;

  @media screen and (max-width: 500px) {
    margin: 0 auto;
    margin-top: 50px;
  }

  .heading-404 {
    font-size: 150px;
    color: $main_white;
  }

  .desc-404 {
    font-size: 12px;
    text-transform: uppercase;
    color: $main_white;
    margin-bottom: 100px;
  }
}

.form-group {
  width: 100%;
  margin-bottom: 50px;
  label {
    width: 100%;
    position: relative;
    span {
      display: block;
      color: $main_white;
      font-size: 12px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    input,
    textarea {
      width: 100%;
      font-size: 20px;
      color: $main_white;
      border: none;
      outline: none;
      background-color: transparent;
    }

    textarea {
      font-size: 15px;
    }
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $main_white;
      top: 120%;
      left: 0;
      transition: 0.3s ease;
    }

    &:focus-within {
      &:after {
        height: 3px;
      }
    }
  }
}

.button-main {
  padding: 10px 40px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  color: $main_white;
  background-color: transparent;
  border: 1px solid $main_white;
  border-radius: 30px;
  transition: 0.3s ease;
  outline: none;

  &:hover {
    color: $primary_color;
    background-color: $main_white;
    text-decoration: none;
  }
}

.container-section {
  min-height: 600px;
  margin-right: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media screen and (max-width: 1440px) {
    min-height: 500px;
  }

  @media screen and (max-width: 1024px) {
    min-height: 400px;
  }

  @media screen and (max-width: 768px) {
    min-height: 350px;
  }

  @media screen and (max-width: 600px) {
    margin-right: 40px;
    display: flex;
    flex-wrap: wrap;
    min-height: unset;
    margin-bottom: 50px;
  }

  @media screen and (max-width: 480px) {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.section-1,
.section-2 {
  height: 100%;
  min-width: 300px;

  @media screen and (max-width: 600px) {
    min-width: 100%;
  }
}

.title {
  color: $main_white;
  font-size: 50px;
  font-weight: 400;

  @media screen and (max-width: 1024px) {
    font-size: 45px;
  }

  @media screen and (max-width: 768px) {
    font-size: 35px;
  }

  @media screen and (max-width: 480px) {
    font-size: 30px;
  }
}

.title3 {
  color: $main_white;
  font-size: 18px;
  font-weight: 400;
}

.context {
  line-height: 30px;
  color: darken($main_white, 10%);
}

.section-border {
  border: 2px solid darken($main_white, 65%);
  border-radius: 4px;
  padding: 20px;
  box-sizing: border-box;
}

.title2 {
  color: darken($main_white, 20%);
  font-size: 20px;
  font-weight: 400;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-left-10 {
  margin-left: 10px;
}
.margin-left-20 {
  margin-left: 20px;
}

.project-title {
  font-size: 40px;
  color: darken($main_white, 40%);
  font-weight: 300;

  @media screen and (max-width: 600px) {
    font-size: 25px;
    margin-top: 10px;
  }
}

.img-con-cover {
  width: 100%;
  height: 100%;
  background-color: darken($main_white, 70%);
  border: 2px solid darken($main_white, 65%);
  border-radius: 6px;
  overflow: hidden;

  @media screen and (max-width: 600px) {
    height: 300px;
  }

  .img-con {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.max-width-1400 {
  max-width: 1400px;
  margin: 0 auto;
}

.form-group-custom {
  display: block;
  span {
    display: block;
  }
}

.footer {
  margin-bottom: 20px;
  text-align: right;
  color: darken($main_white, 20%);
  margin-right: 80px;
  font-size: 13px;

  @media screen and (max-width: 600px) {
    margin-right: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .mobile-1024 {
    display: none !important;
  }

  .home-1024 {
    left: 10% !important;
    width: 90% !important;
  }
}

@media screen and (max-width: 480px) {
  .mobile-main {
    display: none !important;
  }

  .home-mobile-main {
    left: 0 !important;
    width: 100% !important;
  }
}

@media screen and (max-width: 600px) {
  .flex-inverse {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 600px) {
  .remove-spaces-mobile {
    padding: 0 !important;
    margin: 0 !important;
  }
}

@media screen and (min-width: 480px) {
  .desktop-main {
    display: none !important;
  }
}

.flex {
  display: flex;
}
.align-center {
  align-items: center;
}

.heading-right {
  margin-right: 60px;

  @media screen and (max-width: 600px) {
    margin-right: 0;
  }
}

.nav-drawer-toggler {
  width: 20px;
  height: 2px;
  background-color: $main_white;
  // margin: 0 20px;
  position: relative;
  display: none;

  @media screen and (max-width: 1024px) {
    display: block;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 100%;
    top: -5px;
    left: 0;
    background-color: $main_white;
  }

  &::after {
    top: 5px;
  }
}

.nav-drawer {
  cursor: pointer;
}

.side-bar-mobile {
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 0;
  top: 0;
  z-index: 10;
  transition: 0.3s ease;
  visibility: hidden;
  opacity: 0 !important;
  transform: translateX(-100%);

  .inner {
    background-color: black;
    width: 250px;
    bottom: 0;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;

    li {
      margin-left: 30px;
    }
  }

  .overlay {
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
}

.drawal-open {
  visibility: visible !important;
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.auth-comment {
  margin-top: 20px;
  text-align: center;
  color: darken($color: $main_white, $amount: 50%);
}

a,
a:hover,
a:active {
  text-decoration: none !important;
  color: $blue_ascent;
}

.gallery {
  display: grid;
  grid-gap: 20px;
  margin-bottom: 20px;
  .img-con-cover {
    position: relative;
    height: 500px;
    .overlay {
      transition: 0.3s ease;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      visibility: hidden;
      background-color: rgba($color: #000000, $alpha: 0.5);
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      color: $main_white;
    }

    @media screen and (max-width: 1200px) {
      height: 400px;
    }
    @media screen and (max-width: 800px) {
      height: 300px;
    }
    @media screen and (max-width: 600px) {
      height: 250px;
    }
  }

  .img-con-cover:hover {
    .overlay {
      cursor: pointer;
      visibility: visible;
      opacity: 1;
    }
  }

  @media screen and (max-width: 480px) {
    .img-con-cover {
      height: 200px;
    }
  }

  @media screen and (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}

.paginator {
  display: flex;
  margin: 50px auto;
  align-items: center;
  justify-content: center;
  margin-right: 80px;

  .page-items {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba($blue_ascent, 0.7);
    font-size: 11px;
    color: rgba($blue_ascent, 0.7) !important;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 50%;
    transition: 0.5s ease;
    box-sizing: border-box;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: rgba($blue_ascent, 0.7);
      color: $main_white !important;
      border: none;
      cursor: pointer;
    }
  }
  .page-items.disabled {
    color: darken($main_white, 70%) !important;
    border: 2px solid darken($main_white, 70%);

    &:hover {
      background-color: transparent;
      color: darken($main_white, 50%);
      cursor: not-allowed;
    }
  }

  @media screen and (max-width: 600px) {
    margin-right: 20px;
    margin-left: 20px;
  }
}

.image_viewer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.7);
  z-index: 1000;
  transition: 0.3s ease;
  opacity: 1;
  visibility: visible;

  &.closed {
    visibility: hidden;
    opacity: 0;
  }

  .image-list {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    z-index: 10;
    cursor: pointer;
  }

  img {
    max-width: 90vw;
    margin: 0 10px;
    display: none;
    opacity: 0;
    transition: 0.5 ease;

    &.active {
      display: block;
      opacity: 1;
    }
  }

  .controls {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    button {
      width: 40px;
      height: 40px;
      padding: 0;
      border-radius: 50%;
      border: none;
      background-color: darken($color: #ffffff, $amount: 90%);
      color: white;
      box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.5);
      outline: none;

      &.disabled {
        color: darken($color: #ffffff, $amount: 70%);
        cursor: not-allowed;
      }
    }
  }
}

.about-section {
  position: relative;

  a {
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 5px 10px;
    color: $primary_color;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: $main_white;
    border-radius: 20px;
  }
}
