html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #e7e8f0;
}

.container-fluid {
  padding: 0;
}

.header-main {
  width: 100%;
  height: 100px;
  position: fixed;
  color: #041431;
  overflow: hidden;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(231, 232, 240, 0.8);
  z-index: 1;
}

.header-main .nav-items,
.header-main .title {
  font-size: 10px;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
}

.header-main .nav-items a,
.header-main .title a {
  color: #041431;
  text-decoration: none;
}

.safe-space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 80%;
  margin-left: 80px;
}

@media screen and (max-width: 1024px) {
  .safe-space {
    margin-left: 60px;
  }
}

.nav-space {
  margin-left: 100px;
}

.content-main {
  height: 100vh;
  min-height: 600px;
  padding: 100px 20px 0 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.content-main ul {
  position: fixed;
  margin: 60px 0 0 0;
  padding: 0;
  list-style: none;
  min-width: 300px;
}

.content-main ul li {
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  cursor: pointer;
}

.content-main ul li a {
  color: #041431;
  text-decoration: none;
}

.content-main .content-field {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: absolute;
  left: 25%;
  width: 75%;
}

.content-main .socials-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding-bottom: 20px;
  position: fixed;
  height: calc(100% - 100px);
}

.content-main .socials-main svg {
  width: 15px;
  margin-bottom: 10px;
  color: #041431;
  cursor: pointer;
}

.content-main .socials-main-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  bottom: 20px;
  z-index: 10;
  left: 0;
  width: 50px;
  background-color: #e7e8f0;
  border: 2px solid rgba(61, 99, 168, 0.7);
  border-left: none;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.content-main .socials-main-mobile:hover {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.content-main .socials-main-mobile svg {
  width: 15px;
  margin-bottom: 10px;
  color: #041431;
  cursor: pointer;
}

.content-main .socials-main-mobile .drawal {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #e7e8f0;
  border: 2px solid rgba(61, 99, 168, 0.7);
  border-left: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(61, 99, 168, 0.8);
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.main-404 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 100px;
  margin-top: 100px;
  padding: 0 20px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .main-404 {
    margin: 0 auto;
    margin-top: 50px;
  }
}

.main-404 .heading-404 {
  font-size: 150px;
  color: #041431;
}

.main-404 .desc-404 {
  font-size: 12px;
  text-transform: uppercase;
  color: #041431;
  margin-bottom: 100px;
}

.form-group {
  width: 100%;
  margin-bottom: 50px;
}

.form-group label {
  width: 100%;
  position: relative;
}

.form-group label span {
  display: block;
  color: #041431;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.form-group label input,
.form-group label textarea {
  width: 100%;
  font-size: 20px;
  color: #041431;
  border: none;
  outline: none;
  background-color: transparent;
}

.form-group label textarea {
  font-size: 15px;
}

.form-group label:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #041431;
  top: 120%;
  left: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.form-group label:focus-within:after {
  height: 3px;
}

.button-main {
  padding: 10px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  color: #041431;
  background-color: transparent;
  border: 1px solid #041431;
  border-radius: 30px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  outline: none;
}

.button-main:hover {
  color: #e7e8f0;
  background-color: #041431;
  text-decoration: none;
}

.container-section {
  min-height: 600px;
  margin-right: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1440px) {
  .container-section {
    min-height: 500px;
  }
}

@media screen and (max-width: 1024px) {
  .container-section {
    min-height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .container-section {
    min-height: 350px;
  }
}

@media screen and (max-width: 600px) {
  .container-section {
    margin-right: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-height: unset;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 480px) {
  .container-section {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.section-1,
.section-2 {
  height: 100%;
  min-width: 300px;
}

@media screen and (max-width: 600px) {
  .section-1,
  .section-2 {
    min-width: 100%;
  }
}

.title {
  color: #041431;
  font-size: 50px;
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 45px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 35px;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 30px;
  }
}

.title3 {
  color: #041431;
  font-size: 18px;
  font-weight: 400;
}

.context {
  line-height: 30px;
  color: #000102;
}

.section-border {
  border: 2px solid black;
  border-radius: 4px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.title2 {
  color: black;
  font-size: 20px;
  font-weight: 400;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-20 {
  margin-left: 20px;
}

.project-title {
  font-size: 40px;
  color: black;
  font-weight: 300;
}

@media screen and (max-width: 600px) {
  .project-title {
    font-size: 25px;
    margin-top: 10px;
  }
}

.img-con-cover {
  width: 100%;
  height: 100%;
  background-color: black;
  border: 2px solid black;
  border-radius: 6px;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .img-con-cover {
    height: 300px;
  }
}

.img-con-cover .img-con {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.max-width-1400 {
  max-width: 1400px;
  margin: 0 auto;
}

.form-group-custom {
  display: block;
}

.form-group-custom span {
  display: block;
}

.footer {
  margin-bottom: 20px;
  text-align: right;
  color: black;
  margin-right: 80px;
  font-size: 13px;
}

@media screen and (max-width: 600px) {
  .footer {
    margin-right: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .mobile-1024 {
    display: none !important;
  }
  .home-1024 {
    left: 10% !important;
    width: 90% !important;
  }
}

@media screen and (max-width: 480px) {
  .mobile-main {
    display: none !important;
  }
  .home-mobile-main {
    left: 0 !important;
    width: 100% !important;
  }
}

@media screen and (max-width: 600px) {
  .flex-inverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (max-width: 600px) {
  .remove-spaces-mobile {
    padding: 0 !important;
    margin: 0 !important;
  }
}

@media screen and (min-width: 480px) {
  .desktop-main {
    display: none !important;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading-right {
  margin-right: 60px;
}

@media screen and (max-width: 600px) {
  .heading-right {
    margin-right: 0;
  }
}

.nav-drawer-toggler {
  width: 20px;
  height: 2px;
  background-color: #041431;
  position: relative;
  display: none;
}

@media screen and (max-width: 1024px) {
  .nav-drawer-toggler {
    display: block;
  }
}

.nav-drawer-toggler::after, .nav-drawer-toggler::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 100%;
  top: -5px;
  left: 0;
  background-color: #041431;
}

.nav-drawer-toggler::after {
  top: 5px;
}

.nav-drawer {
  cursor: pointer;
}

.side-bar-mobile {
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 0;
  top: 0;
  z-index: 10;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  visibility: hidden;
  opacity: 0 !important;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.side-bar-mobile .inner {
  background-color: black;
  width: 250px;
  bottom: 0;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}

.side-bar-mobile .inner li {
  margin-left: 30px;
}

.side-bar-mobile .overlay {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.drawal-open {
  visibility: visible !important;
  opacity: 1 !important;
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

.auth-comment {
  margin-top: 20px;
  text-align: center;
  color: black;
}

a,
a:hover,
a:active {
  text-decoration: none !important;
  color: #3d63a8;
}

.gallery {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  margin-bottom: 20px;
}

.gallery .img-con-cover {
  position: relative;
  height: 500px;
}

.gallery .img-con-cover .overlay {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  color: #041431;
}

@media screen and (max-width: 1200px) {
  .gallery .img-con-cover {
    height: 400px;
  }
}

@media screen and (max-width: 800px) {
  .gallery .img-con-cover {
    height: 300px;
  }
}

@media screen and (max-width: 600px) {
  .gallery .img-con-cover {
    height: 250px;
  }
}

.gallery .img-con-cover:hover .overlay {
  cursor: pointer;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 480px) {
  .gallery .img-con-cover {
    height: 200px;
  }
}

@media screen and (max-width: 480px) {
  .gallery {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 80px;
}

.paginator .page-items {
  margin-right: 20px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid rgba(61, 99, 168, 0.7);
  font-size: 11px;
  color: rgba(61, 99, 168, 0.7) !important;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 50%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.paginator .page-items:last-child {
  margin-right: 0;
}

.paginator .page-items:hover {
  background-color: rgba(61, 99, 168, 0.7);
  color: #041431 !important;
  border: none;
  cursor: pointer;
}

.paginator .page-items.disabled {
  color: black !important;
  border: 2px solid black;
}

.paginator .page-items.disabled:hover {
  background-color: transparent;
  color: black;
  cursor: not-allowed;
}

@media screen and (max-width: 600px) {
  .paginator {
    margin-right: 20px;
    margin-left: 20px;
  }
}

.image_viewer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 1;
  visibility: visible;
}

.image_viewer.closed {
  visibility: hidden;
  opacity: 0;
}

.image_viewer .image-list {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.image_viewer .close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  z-index: 10;
  cursor: pointer;
}

.image_viewer img {
  max-width: 90vw;
  margin: 0 10px;
  display: none;
  opacity: 0;
  -webkit-transition: 0.5 ease;
  transition: 0.5 ease;
}

.image_viewer img.active {
  display: block;
  opacity: 1;
}

.image_viewer .controls {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

.image_viewer .controls button {
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: #1a1a1a;
  color: white;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  outline: none;
}

.image_viewer .controls button.disabled {
  color: #4d4d4d;
  cursor: not-allowed;
}

.about-section {
  position: relative;
}

.about-section a {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 5px 10px;
  color: #e7e8f0;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #041431;
  border-radius: 20px;
}
/*# sourceMappingURL=darkmain.css.map */