@import "variables";

.home-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: 600px) {
    .title,
    .title2 {
      text-align: center !important;
    }
  }
}

.home-main-image {
  .img-con-cover {
    position: relative;

    &::after {
      content: "that's me!!!";
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      padding: 5px 20px;
      background-color: rgba($color: #000000, $alpha: 0.6);
      color: white;
      visibility: hidden;
      opacity: 0;
      transition: 0.5s ease;
    }
  }

  .img-con-cover:hover {
    &::after {
      visibility: visible;
      opacity: 1;
    }
  }
}

.home-skill-con {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-segment {
  margin-right: 80px;
  border-top: 2px solid darken($main_white, 65%);
  border-bottom: 2px solid darken($main_white, 65%);
  padding: 20px 0;
  margin-bottom: 50px;

  @media screen and (max-width: 600px) {
    margin-right: 40px;
  }

  @media screen and (max-width: 480px) {
    margin-right: 20px;
    margin-left: 20px;
  }
}
