@import "variables";
@import "barsToggling";

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: $mainFont;
}

ul,
li {
  padding: 0;
  margin: 0;
}

.container-fluid {
  padding: 0;
}

.layout-main {
  background-color: $main_white;
}

.layout-inner {
  max-width: 1300px;
  margin: 0 auto;
  min-height: 100vh;
  box-shadow: 0 0 40px 1px rgba(black, 0.2);
  position: relative;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}

.comment-item{
  border: 1px solid darken(white, 10%);
  color: darken(white, 50%);
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;

  p{
    margin-bottom: 10px;
    color: black;
  }
}

.contain-info{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
  margin-left: 50px;

  @media screen and (max-width: 480px){
    margin-left: 0;
    margin-bottom: 0;
  }
  h3{
    font-size: 18px;
    color: darken(white, 50%);
    margin-bottom: 5px;
  }
  p{
    margin-bottom: 3px;
    font-size: 14px;
    color: darken(white, 50%);
    max-width: 200px;
    font-weight: 500;
  }
}

.nav-right {
  display: flex;
  align-items: center;

  li {
    padding: 0 20px;
    list-style: none;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    a {
      color: darken($main_white, 50%);
    }

    svg {
      color: darken($main_white, 40%);
    }

    &.active{
      a{
        color: darken($main_white, 90%);
      }
    }

    .dropdown {
      position: absolute;
      box-shadow: 0 5px 20px rgba(black, 0.2);
      left: 50%;
      top: 40px;
      transform: translateX(-50%);
      min-width: 250px;
      background-color: white;
      border-radius: 6px;
      display: none;
      padding: 20px 0;



      li {
        font-size: 17px;
        font-weight: 300;
        color: darken($main_white, 55%);
        margin: 0 20px;
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid darken($main_white, 5%);
      }
      a{
        &:last-child {
          li{
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
          }
        }
      }


      &:after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;

        border-bottom: 20px solid white;
        top: 0;
        left: 50%;
        transform: translate(-50%, -18px);
      }

      @media screen and (max-width: 768px) {
        position: relative;
        display: none;
      }
    }

    &:hover {
      .dropdown {
        display: block;
      }
    }
  }
}

.justify-center {
  justify-content: center;
}

.drawer {
  overflow-y: auto;
  padding-bottom: 40px;
  .dropdown {
    padding: 15px 10px;
    background-color: #F02F2F;
    width: 100%;
    margin-top: 10px;
    display: none;

    li {
      font-size: 16px !important;
      font-weight: 400 !important;
      color: white;
      margin-bottom: 10px;
      padding-bottom: 5px;
      border-bottom: 1px solid darken($main_white, 20%);

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
      }
    }

    &.open {
      display: block !important;
    }
  }
}

.footer {
  background-color: darken($main_white, 3%);
  margin-top: 50px;
  padding: 80px 0;

  .social-icons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;

    li {
      list-style: none;
      margin-right: 20px;
    }

    li,
    .copyright {
      font-size: 24px;
      font-weight: 500;
      color: black;
    }

    .copyright {
      margin-left: 20px;
    }
  }

  .footer-grid{
    display: grid;
    flex: 1;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    grid-gap: 2em;
    max-width: 600px;
    min-width: 300px;

    @media screen and (max-width: 480px){
      grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    }
  }

  .footer-container {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    .footer-heading {
      margin-bottom: 20px;
      color: black;
      font-weight: 500;
    }

    .footer-item {
      margin-bottom: 10px;
      color: $primary_color;
      min-width: 150px;
      cursor: pointer;
    }
  }
}

.home-control {
  position: relative;
  z-index: 1;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.margin-top-60 {
  margin-top: 60px;
}

.padding-top-60 {
  padding-top: 60px;

  @media screen and (max-width: 480px) {
    padding-top: 30px;
  }
}

.logo {
  img {
    width: 200px;
    @media screen and (max-width: 480px) {
      width: 120px;
    }
  }

}

.heading-main {
  font-size: 50px;
  font-weight: bold;
  line-height: 55px;
  max-width: 400px;
  margin-top: 17vh;

  @media screen and (max-width: 480px) {
    margin-top: 10vh;
    font-size: 30px;
    line-height: 35px;
  }
}

.top-content {
  font-size: 24px;
  line-height: 35px;
  max-width: 350px;
  font-weight: 300;
  margin-top: 20px;
  color: darken($main_white, 50%);
}

.home-bg {
  position: absolute;
  top: 24vh;
  right: 3vw;
  z-index: 0;

  img {
    width: 750px;
  }

  @media screen and (max-width: 768px) {
    right: 0;
    opacity: 0.3;
  }

  @media screen and (max-width: 500px) {
    img {
      width: 500px;
    }
  }
}

#book-info{
  transition: .3s ease;
  p{
    font-size: 16px;
    font-weight: 300;
  }

  input, textarea{
    margin-bottom: 30px;
  }
}

.pointer{
  cursor: pointer;
}

.ease{
  transition: .3s ease;
}

.show-drop{
  transform: rotateX(180deg);
}

.hidden{
  display: none;
  visibility: hidden;
  opacity: 0;
  height: 0 !important;
  width: 0 !important;
}
.hidden2{
  display: none;
  visibility: hidden;
  opacity: 0;
  height: 0 !important;
  width: 0 !important;
}

button, .button2 {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
  outline: none !important;
  transition: .3s ease;
  border: 2px solid $primary-color;

  &.hidden{
    visibility: hidden;
    opacity: 0;
  }

  &.primary {
    background-color: $primary-color;
    color: white;
  }

  &.outline {

    background-color: transparent;
    color: $primary-color;
  }

  &.inverse {
    border-color: $main_white;
    color: $main_white;
  }

  .loading {
    display: none;
  }

  &.load {
    .loading {
      display: block;
    }
  }
}

.button2{
  padding: 5px 20px;
  font-size: 18px;
}

.margin-left-20 {
  margin-left: 20px;
}

.light-bg {
  background-color: darken($main_white, 3%);
}

.about-container {
  padding: 100px 0;
  padding-bottom: 20px;
}

.about-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.not-available {
  font-size: 24;
  font-weight: 500;
  color: darken(white, 30%);
}

.about-item {
  width: 300px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;

  .img-con{
    height: 140px;
    width: 160px;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 600px) {
    margin-right: 0px;
  }

  img {
    width: 200px;
    margin-bottom: 20px;
  }

  .about-heading {
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
    font-weight: 500;
    max-width: 200px;
    line-height: 30px;
    text-align: center;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    color: darken($main_white, 40%);
    text-align: center;
  }
}

.sub-heading {
  font-size: 20px;
  color: darken(white, 50%);
  font-weight: 300;
  text-align: center;

  @media screen and (max-width: 480px) {
    max-width: 300px;
  }
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.blog-heading {
  font-size: 30px;
  color: black;
  margin-bottom: 40px;
  font-weight: bold;
}

.blog-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
  grid-gap: 3em;
  justify-content: center;
}

.blog-item {
  img {
    width: 100%;
    border-radius: 10px;
    height: 180px;
    margin-bottom: 20px;
  }

  .blog-heading {
    font-size: 25px;
    color: black;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: center;
  }

  p {
    font-size: 17px;
    color: darken(black, 40%);
    font-weight: 300;
    text-align: center;
  }
}

.drop-cv {
  background-color: $primary-color;
}

.cv-inner {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h2 {
    font-size: 45px;
    color: $main_white;
    font-weight: bold;
  }

  button {
    padding: 8px 30px;
    font-size: 22px;
  }
}

.vertical-line {
  width: 2px;
  height: 180px;
  background-color: rgba($color: $primary-color, $alpha: 0.5);
  position: absolute;
  left: 80px;
  top: calc(50vh + 100px);
  z-index: 10;

  @media screen and (max-width: 480px) {
    left: 10px;
    top: calc(50vh + 130px);
  }
}

.contact-heading {
  font-size: 34px;
  color: black;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .desktop {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .desktop2 {
    display: none;
  }
}

.input-control {
  display: block;
  border: 2px solid darken($main_white, 10%);
  padding: 10px 20px;
  font-size: 18px;
  margin-bottom: 10px;
  width: 100%;
}

.contact-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 3em;

  button {
    padding: 10px 20p;
    font-size: 20px;
  }

  @media screen and (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}

textarea {
  min-height: 200px;
}

.main-404 {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-main {
  background-color: $primary-color;
  &.darken {
    background-color:#F02F2F;
  }
}

.white-heading {
  li {
    a {
      color: white !important;
    }
    svg {
      color: white;
    }
  }
  .drawer{
    li{
      a {
        color: black !important;
      }
      svg {
        color: black;
      }
    }
  }
}

.pos-rel {
  position: relative;
}

.about-content {
  max-width: 680px;
  margin: 0 auto;
  text-align: center;

  h1 {
    font-size: 3.0rem;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;

    @media screen and (max-width: 480px) {
      font-size: 2.3rem;
    }
  }

  p {
    font-size: 18px;
    color: white;
    font-weight: 500;
  }
}

.about-content.extend{
  max-width: 420px;
}

h2 {
  text-align: center;
}

.firm-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 150px));
  grid-gap: 0;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
}

.firm-item {
  display: flex;
  align-items: center;
  justify-content: center;
  .img-con {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  width: 150px;
  height: 150px;
  border: 1px solid darken(white, 5%);
}

.why-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p,
  .why-us-user {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    max-width: 800px;
    color: darken(white, 40%);
  }

  .why-us-user {
    color: $primary-color;
    font-size: 20px;
    font-weight: 400;
  }
}

.navlist {
  display: flex;
  li {
    list-style: none;
    width: 15px;
    height: 15px;
    border: 1.5px solid black;
    margin-right: 5px;
    border-radius: 50%;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      background-color: black;
      cursor: default;
    }
  }
}

.team-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  grid-gap: 2em;
  justify-content: center;
}

.team-card {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 5px 20px rgba(black, 0.1);

  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
  }

  .team-user {
    color: $primary-color;
  }

  p.team-user {
    color: darken(white, 50%);
  }

  p {
    color: darken(white, 50%);
    text-align: center;
  }
}

.footer-white {
  .footer {
    background-color: white;
  }
}

.function-header {
  font-size: 43px;
  font-weight: 500;
  color: darken(white, 40%);

  &.second {
    font-size: 20px;
    font-weight: 400;
    color: darken(white, 70%);
  }
}

.function-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-gap: 3em;
  grid-row-gap: 5em;
}

.function-item {
  max-width: 500px;
  .img-con {
    width: 100%;
    height: 300px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .function-heading {
    font-size: 28px;
    line-height: 30px;
    margin: 20px 0;
    font-weight: 600;
    color: black;
  }

  p {
    font-size: 15px;
    font-weight: 300;
    color: darken(white, 55%);
  }

  button{
    padding: 8px 10px;
    font-size: 18px;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.align-center {
  align-items: center;
}

.resource-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  li {
    list-style: none;
    font-size: 18px;
    margin-right: 20px;
    margin-bottom: 10px;
    color: darken(white, 40%);
    cursor: pointer;

    &.active {
      color: $primary-color;
      position: relative;

      &::after {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $primary-color;
        position: absolute;
        content: "";
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &.single {
    flex-direction: column;
    align-items: flex-start;

    li {
      margin-top: 20px;
    }

    h4 {
      font-size: 20px;
    }
  }
}

a {
  text-decoration: none !important;
}

.res-search {
  margin-bottom: 20px;
  border-radius: 10px;
  height: 35px;
  background-color: darken(white, 5%);
  border: none;
  padding: 0 20px;
  min-width: 300px;
  outline: none;
}

.resource-container {
  display: grid;
  grid-template-columns: 3fr 2.5fr;
  grid-gap: 4rem;

  &.single {
    grid-template-columns: 3fr 1fr;

    h4 {
      font-size: 20px;
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &.second {
    grid-template-columns: 3fr 1.5fr;
    grid-gap: 2rem;

    h4 {
      font-size: 20px;
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.leave-com {
  color: darken(white, 35%);
  margin-bottom: 20px;
}

.resource-card {
  .cover {
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .res-title {
    margin: 20px 0 10px 0;
    font-size: 30px;
    font-weight: 500;
  }

  p {
    font-size: 16px;
    font-weight: 300;
  }

  .authon-con {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link-next {
      font-size: 50px;
      color: rgb(247, 103, 103);
    }

    &.single {
      display: block;
      margin: 20px 0;

      a {
        color: $primary-color;
      }
    }
  }

  .author {
    h2 {
      font-size: 22px;
      color: darken(white, 40%);
    }

    p {
      color: darken(white, 40%);
    }
  }

  &.single {
    p {
      line-height: 30px;
      text-align: justify;
    }
  }
}

.resource-card.sub {
  display: flex;
  margin-bottom: 1rem;
  .cover {
    height: 150px;
    min-width: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .res-title {
    margin: 0px;
    font-size: 18px;
    font-weight: 500;
  }

  p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 3px !important;
  }

  .card-content {
    padding: 20px;
  }

  .authon-con {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link-next {
      font-size: 20px;
      color: rgb(247, 103, 103);
    }
  }

  .author {
    h2 {
      line-height: 25px;
      font-size: 15px;
      margin-bottom: 0px !important;
    }

    p {
      font-size: 12px;
    }
  }
}

.resource-card.small {
  .cover {
    height: 150px;
    min-width: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .res-title {
    margin: 0px;
    font-size: 18px;
    font-weight: 500;
  }

  p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 3px !important;
  }

  .card-content {
    padding: 20px 0;
  }

  .authon-con {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link-next {
      font-size: 20px;
      color: rgb(247, 103, 103);
    }
  }

  .author {
    h2 {
      line-height: 25px;
      font-size: 15px;
      margin-bottom: 0px !important;
    }

    p {
      font-size: 12px;
    }
  }
}

.recent-post-con {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
  grid-gap: 2rem;
}

.paginator {
  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .page-list {
    display: flex;
    align-items: center;

    a {
      margin-right: 2rem;

      &:last-child {
        margin-right: 0;
      }
    }

    li {
      width: 70px;
      height: 70px;
      border: 2px solid darken(white, 20%);
      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 18px;
      color: darken(white, 50%);
      font-weight: 500;
      box-sizing: border-box;

      cursor: pointer;
      &.active {
        border: none;
        background-color: lighten($primary-color, 30%);
      }

      @media screen and (max-width: 600px) {
        width: 40px;
        height: 40px;
        border: 1px solid darken(white, 20%);
        font-size: 14px;
        margin-right: 1rem;
      }
    }
  }

  .page-sum {
    font-size: 18px;
    color: darken(white, 40%);
    font-weight: 500;

    @media screen and (max-width: 600px) {
      font-size: 14px;
    }
  }
}

.res-cover {
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  .overlay {
    background-color: rgba(black, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .res-con {
    position: relative;
    color: white;
    text-align: center;
    max-width: 900px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      max-width: 500px;
      text-transform: uppercase;
    }

    p {
      font-size: 18px;
      font-weight: 400;
      max-width: 700px;
    }
  }

  &.second {
    display: block;

    .res-con {
      margin-top: 5%;
    }
  }
}


.res-mid {
  padding: 4rem 20px;
  margin: 0 auto;
  max-width: 700px;

  .heading {
    color: darken(white, 50%);
    text-align: center;
    max-width: 900px;
    font-size: 22px;
  }

  .res-bullet {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    div {
      font-size: 20px;
      font-weight: 300;
      color: darken(white, 50%);
      &:nth-child(2) {
        margin-left: 2rem;
      }
    }
    img {
      width: 40px;
    }
  }
}

.res-max{
  max-width: 1000px;
  line-height: 30px;
}

.mobile, .mobile2 {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .mobile2 {
    display: block;
  }
}

.side-bar-links {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100vh;
  transition: 0.5s ease;
  visibility: hidden;
  opacity: 0;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.2);
  }

  .drawer {
    width: 250px;
    background-color: lighten($primary-color, 10%);
    height: 100%;
    padding-top: 20vh;
    position: relative;

    a {
      color: white;
    }
    svg {
      color: white;
    }

    li {
      list-style: none;
      text-align: center;
      font-size: 20px;
      margin-bottom: 25px;
      font-weight: 500;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.white-heading {
  .drawer {
    background-color: white;
    a {
      color: lighten($primary-color, 10%);
    }
  }
}

.side-bar-links.open {
  visibility: visible;
  opacity: 1;
}

.career-card {
  margin-bottom: 30px;
  h3 {
    font-size: 22px;
    font-weight: 500;
    color: black;
  }

  p {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
  }

  h4 {
    margin: 10px 0;
    font-size: 16px !important;
    font-weight: 300;
    color: darken(white, 40%);
  }

  button {
    font-size: 16px;
    font-weight: 400;
    border-radius: 30px;
    padding: 2px 30px;
    margin-top: 10px;
  }
}

.h-light {
  color: darken(white, 50%);
}

.single-career-form {
  position: fixed;
  top: 45vh;
  right: 22vw;
  transform: translateY(-50%);
  width: 100%;
  max-width: 450px;

  @media screen and (max-width: 1440px) {
    right: 15vw;
    max-width: 400px;
  }

  @media screen and (max-width: 1280px) {
    right: 10vw;
    max-width: 350px;
  }

  @media screen and (max-width: 768px) {
    max-width: 500px;
    position: relative;
    transform: translateY(0);
    right: 0;
    top: 0;
  }

  @media screen and (max-width: 480px) {
    max-width: 100%;
  }

  &.second {
    max-width: 350px;
    position: relative;
    transform: translateY(0);
    right: 0;
    top: 0;
  }
}

.single-career-con {
  padding: 40px 0;
  max-width: 500px;

  .title {
    font-size: 30px;
    margin: 20px 0;
    color: $primary-color;
  }

  &.one {
    padding: 40px 0 0 0;
    .title {
      font-size: 40px;
    }
  }

  &.two {
    padding: 0 0 40px 0;
  }

  .info {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 300;
  }

  .sub-head {
    font-size: 14px;
    margin: 20px 0;
    font-weight: 500;
  }

  .context {
    font-size: 16px;
    margin: 20px 0;
    font-weight: 300;
    line-height: 25px;
  }

  &.second {
    max-width: 100%;
  }

  .zone-label {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 300;
  }

  .time-selector {
    font-size: 18px;
    font-weight: 300;
    color: darken(white, 40%);
    margin-right: 20px;
  }

  .nav {
    border: 1.5px solid darken(white, 10%);
    padding: 0 10px;
    margin-right: 10px;
    color: darken(white, 40%);

    &:last-child {
      margin-right: 0;
      margin-left: 20px;
    }
  }
}

.date-table {
  width: 100%;
  tr {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, auto));
  }
  td {
    height: 70px;
    line-height: 70px;
    color: darken(white, 40%);
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    cursor: not-allowed;
    box-sizing: border-box;

    &.active {
      color: black;
      cursor: pointer;
    }
  }
  tbody {
    border: 2px solid darken(white, 10%);
    td {
      border-right: 2px solid darken(white, 10%);
      border-bottom: 2px solid darken(white, 10%);
      &:last-child {
        border-right: none;
      }

      &.selected {
        border: 2px solid $primary-color;
        color: $primary-color;
        font-weight: 400;
      }
    }

    tr {
      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    tr {
      grid-template-columns: repeat(auto-fit, minmax(40px, auto));
    }
    td {
      height: 50px;
      line-height: 50px;
    }
  }
}

.fc-past {
  opacity: 0.2;
  .fc-day-number{
    color: #000000;

  }
}

.day-highlight {
  background-color: rgba($primary_color, 0.3)!important;

}

.time-slots {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  grid-gap: 1em;
}
.time-main {
  visibility: visible;
  opacity: 1;
  transition: .3s ease;

  &.hidden{
    visibility: hidden;
    opacity: 0;
  }
}


.time-card {
  max-width: 200px;
  border: 1.5px solid darken(white, 10%);
  padding: 5px 10px;
  margin-right: 10px;
  color: darken(white, 40%);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  cursor: not-allowed;

  &.active {
    color: black;
    cursor: pointer;
  }

  &.selected {
    background-color: rgba($primary_color, 0.3) !important;
    border-color: rgba($primary_color, 0.3) !important;
    color: black;
    font-weight: 400;
  }
}

.book-text{
  position: relative;

  #edit-time{
    position: absolute !important;
    right: -10px;
    bottom: 0;
  }
}

.cancellation-policy{
  padding: 15px;
  border: 2px solid darken(white, 10%);
  color: darken(white, 40%);
}

.complaint-con {
  background-color: darken(white, 5%);
  padding: 40px;
  h1 {
    font-weight: 300;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    color: darken(white, 60%);
  }
  .divider {
    margin-bottom: 20px;
  }
  button {
    margin-top: 100px;
  }
}

.divider {
  width: 100%;
  height: 2px;
  background-color: darken(white, 20%);
}

.concel {
  font-size: 20px;
  font-weight: 300;
  color: darken(white, 40%);
  padding: 20px 10px;
}

.loading {
  margin-left: 5px;
  animation: rotate infinite 1.5s linear;
}

@keyframes rotate {
  to {
    transform: rotateZ(360deg);
  }
}

.notifier {
  min-width: 200px;
  padding: 20px 40px;
  border-radius: 6px;
  box-shadow: 0 5px 20px rgba(black, 0.1);
  position: fixed;
  max-width: 400px;
  z-index: 20;
  right: -420px;
  top: 20px;
  background-color: white;
  font-size: 15px;
  border-left: 5px solid transparent;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease;

  .close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    svg {
      width: 16px;
    }
  }

  &.success {
    color: rgb(77, 221, 132);
    border-color: rgb(77, 221, 132);
  }

  &.danger {
    color: rgb(236, 96, 91);
    border-color: rgb(236, 96, 91);
  }

  &.info {
    color: rgb(33, 174, 179);
    border-color: rgb(33, 174, 179);
  }

  &.show {
    right: 20px;
    visibility: visible;
    opacity: 1;
  }
}
.career-con {
  min-height: 70vh;
}

.faq-con{
  box-shadow: 0 5px 20px rgba(black, 0.1);
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
  cursor: pointer;
  .faq-quest{
    padding: 20px;
    background: white;
  }
  .faq-ans{
    padding: 20px;
  }
}

.drop-faq{
  cursor: pointer;
  transition: .3s ease;

  &.open{
    transform: rotateZ(180deg);
  }
}
