@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* Icon 1 */
#nav-icon1,
#nav-icon2,
#nav-icon3,
#nav-icon4 {
  width: 12px;
  height: 8px;
  position: relative;
  margin: 0 !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

/* Icon 2 */
#nav-icon2 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #d3531a;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.white-heading #nav-icon2 span {
  background: white;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1),
#nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3),
#nav-icon2 span:nth-child(4) {
  top: 6px;
}

#nav-icon2 span:nth-child(5),
#nav-icon2 span:nth-child(6) {
  top: 12px;
}

#nav-icon2.open span:nth-child(1),
#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),
#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 3px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 3px;
}

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Poppins", sans-serif;
}

ul,
li {
  padding: 0;
  margin: 0;
}

.container-fluid {
  padding: 0;
}

.layout-main {
  background-color: #ffffff;
}

.layout-inner {
  max-width: 1300px;
  margin: 0 auto;
  min-height: 100vh;
  box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.2);
  position: relative;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}

.comment-item {
  border: 1px solid #e6e6e6;
  color: gray;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;
}
.comment-item p {
  margin-bottom: 10px;
  color: black;
}

.contain-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
  margin-left: 50px;
}
@media screen and (max-width: 480px) {
  .contain-info {
    margin-left: 0;
    margin-bottom: 0;
  }
}
.contain-info h3 {
  font-size: 18px;
  color: gray;
  margin-bottom: 5px;
}
.contain-info p {
  margin-bottom: 3px;
  font-size: 14px;
  color: gray;
  max-width: 200px;
  font-weight: 500;
}

.nav-right {
  display: flex;
  align-items: center;
}
.nav-right li {
  padding: 0 20px;
  list-style: none;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600;
  position: relative;
}
.nav-right li a {
  color: gray;
}
.nav-right li svg {
  color: #999999;
}
.nav-right li.active a {
  color: #1a1a1a;
}
.nav-right li .dropdown {
  position: absolute;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
  min-width: 250px;
  background-color: white;
  border-radius: 6px;
  display: none;
  padding: 20px 0;
}
.nav-right li .dropdown li {
  font-size: 17px;
  font-weight: 300;
  color: #737373;
  margin: 0 20px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #f2f2f2;
}
.nav-right li .dropdown a:last-child li {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
.nav-right li .dropdown:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid white;
  top: 0;
  left: 50%;
  transform: translate(-50%, -18px);
}
@media screen and (max-width: 768px) {
  .nav-right li .dropdown {
    position: relative;
    display: none;
  }
}
.nav-right li:hover .dropdown {
  display: block;
}

.justify-center {
  justify-content: center;
}

.drawer {
  overflow-y: auto;
  padding-bottom: 40px;
}
.drawer .dropdown {
  padding: 15px 10px;
  background-color: #F02F2F;
  width: 100%;
  margin-top: 10px;
  display: none;
}
.drawer .dropdown li {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: white;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #cccccc;
}
.drawer .dropdown li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
.drawer .dropdown.open {
  display: block !important;
}

.footer {
  background-color: #f7f7f7;
  margin-top: 50px;
  padding: 80px 0;
}
.footer .social-icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.footer .social-icons li {
  list-style: none;
  margin-right: 20px;
}
.footer .social-icons li,
.footer .social-icons .copyright {
  font-size: 24px;
  font-weight: 500;
  color: black;
}
.footer .social-icons .copyright {
  margin-left: 20px;
}
.footer .footer-grid {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  grid-gap: 2em;
  max-width: 600px;
  min-width: 300px;
}
@media screen and (max-width: 480px) {
  .footer .footer-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  }
}
.footer .footer-container {
  margin-right: 20px;
}
.footer .footer-container:last-child {
  margin-right: 0;
}
.footer .footer-container .footer-heading {
  margin-bottom: 20px;
  color: black;
  font-weight: 500;
}
.footer .footer-container .footer-item {
  margin-bottom: 10px;
  color: #ff3333;
  min-width: 150px;
  cursor: pointer;
}

.home-control {
  position: relative;
  z-index: 1;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.margin-top-60 {
  margin-top: 60px;
}

.padding-top-60 {
  padding-top: 60px;
}
@media screen and (max-width: 480px) {
  .padding-top-60 {
    padding-top: 30px;
  }
}

.logo img {
  width: 200px;
}
@media screen and (max-width: 480px) {
  .logo img {
    width: 120px;
  }
}

.heading-main {
  font-size: 50px;
  font-weight: bold;
  line-height: 55px;
  max-width: 400px;
  margin-top: 17vh;
}
@media screen and (max-width: 480px) {
  .heading-main {
    margin-top: 10vh;
    font-size: 30px;
    line-height: 35px;
  }
}

.top-content {
  font-size: 24px;
  line-height: 35px;
  max-width: 350px;
  font-weight: 300;
  margin-top: 20px;
  color: gray;
}

.home-bg {
  position: absolute;
  top: 24vh;
  right: 3vw;
  z-index: 0;
}
.home-bg img {
  width: 750px;
}
@media screen and (max-width: 768px) {
  .home-bg {
    right: 0;
    opacity: 0.3;
  }
}
@media screen and (max-width: 500px) {
  .home-bg img {
    width: 500px;
  }
}

#book-info {
  transition: 0.3s ease;
}
#book-info p {
  font-size: 16px;
  font-weight: 300;
}
#book-info input, #book-info textarea {
  margin-bottom: 30px;
}

.pointer {
  cursor: pointer;
}

.ease {
  transition: 0.3s ease;
}

.show-drop {
  transform: rotateX(180deg);
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
  height: 0 !important;
  width: 0 !important;
}

.hidden2 {
  display: none;
  visibility: hidden;
  opacity: 0;
  height: 0 !important;
  width: 0 !important;
}

button, .button2 {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
  outline: none !important;
  transition: 0.3s ease;
  border: 2px solid #ff3333;
}
button.hidden, .button2.hidden {
  visibility: hidden;
  opacity: 0;
}
button.primary, .button2.primary {
  background-color: #ff3333;
  color: white;
}
button.outline, .button2.outline {
  background-color: transparent;
  color: #ff3333;
}
button.inverse, .button2.inverse {
  border-color: #ffffff;
  color: #ffffff;
}
button .loading, .button2 .loading {
  display: none;
}
button.load .loading, .button2.load .loading {
  display: block;
}

.button2 {
  padding: 5px 20px;
  font-size: 18px;
}

.margin-left-20 {
  margin-left: 20px;
}

.light-bg {
  background-color: #f7f7f7;
}

.about-container {
  padding: 100px 0;
  padding-bottom: 20px;
}

.about-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.not-available {
  font-size: 24;
  font-weight: 500;
  color: #b3b3b3;
}

.about-item {
  width: 300px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.about-item .img-con {
  height: 140px;
  width: 160px;
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
@media screen and (max-width: 600px) {
  .about-item {
    margin-right: 0px;
  }
}
.about-item img {
  width: 200px;
  margin-bottom: 20px;
}
.about-item .about-heading {
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
  font-weight: 500;
  max-width: 200px;
  line-height: 30px;
  text-align: center;
}
.about-item p {
  font-size: 16px;
  font-weight: 400;
  color: #999999;
  text-align: center;
}

.sub-heading {
  font-size: 20px;
  color: gray;
  font-weight: 300;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .sub-heading {
    max-width: 300px;
  }
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.blog-heading {
  font-size: 30px;
  color: black;
  margin-bottom: 40px;
  font-weight: bold;
}

.blog-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
  grid-gap: 3em;
  justify-content: center;
}

.blog-item img {
  width: 100%;
  border-radius: 10px;
  height: 180px;
  margin-bottom: 20px;
}
.blog-item .blog-heading {
  font-size: 25px;
  color: black;
  margin-bottom: 10px;
  font-weight: 600;
  text-align: center;
}
.blog-item p {
  font-size: 17px;
  color: black;
  font-weight: 300;
  text-align: center;
}

.drop-cv {
  background-color: #ff3333;
}

.cv-inner {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cv-inner h2 {
  font-size: 45px;
  color: #ffffff;
  font-weight: bold;
}
.cv-inner button {
  padding: 8px 30px;
  font-size: 22px;
}

.vertical-line {
  width: 2px;
  height: 180px;
  background-color: rgba(255, 51, 51, 0.5);
  position: absolute;
  left: 80px;
  top: calc(50vh + 100px);
  z-index: 10;
}
@media screen and (max-width: 480px) {
  .vertical-line {
    left: 10px;
    top: calc(50vh + 130px);
  }
}

.contact-heading {
  font-size: 34px;
  color: black;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .desktop {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .desktop2 {
    display: none;
  }
}
.input-control {
  display: block;
  border: 2px solid #e6e6e6;
  padding: 10px 20px;
  font-size: 18px;
  margin-bottom: 10px;
  width: 100%;
}

.contact-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 3em;
}
.contact-wrapper button {
  padding: 10px 20p;
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  .contact-wrapper {
    grid-template-columns: 1fr;
  }
}

textarea {
  min-height: 200px;
}

.main-404 {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-main {
  background-color: #ff3333;
}
.about-main.darken {
  background-color: #F02F2F;
}

.white-heading li a {
  color: white !important;
}
.white-heading li svg {
  color: white;
}
.white-heading .drawer li a {
  color: black !important;
}
.white-heading .drawer li svg {
  color: black;
}

.pos-rel {
  position: relative;
}

.about-content {
  max-width: 680px;
  margin: 0 auto;
  text-align: center;
}
.about-content h1 {
  font-size: 3rem;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
}
@media screen and (max-width: 480px) {
  .about-content h1 {
    font-size: 2.3rem;
  }
}
.about-content p {
  font-size: 18px;
  color: white;
  font-weight: 500;
}

.about-content.extend {
  max-width: 420px;
}

h2 {
  text-align: center;
}

.firm-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 150px));
  grid-gap: 0;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
}

.firm-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border: 1px solid #f2f2f2;
}
.firm-item .img-con {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.why-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.why-us p,
.why-us .why-us-user {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  max-width: 800px;
  color: #999999;
}
.why-us .why-us-user {
  color: #ff3333;
  font-size: 20px;
  font-weight: 400;
}

.navlist {
  display: flex;
}
.navlist li {
  list-style: none;
  width: 15px;
  height: 15px;
  border: 1.5px solid black;
  margin-right: 5px;
  border-radius: 50%;
  cursor: pointer;
}
.navlist li:last-child {
  margin-right: 0;
}
.navlist li.active {
  background-color: black;
  cursor: default;
}

.team-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  grid-gap: 2em;
  justify-content: center;
}

.team-card {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.team-card .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.team-card .team-user {
  color: #ff3333;
}
.team-card p.team-user {
  color: gray;
}
.team-card p {
  color: gray;
  text-align: center;
}

.footer-white .footer {
  background-color: white;
}

.function-header {
  font-size: 43px;
  font-weight: 500;
  color: #999999;
}
.function-header.second {
  font-size: 20px;
  font-weight: 400;
  color: #4d4d4d;
}

.function-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-gap: 3em;
  grid-row-gap: 5em;
}

.function-item {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.function-item .img-con {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.function-item .function-heading {
  font-size: 28px;
  line-height: 30px;
  margin: 20px 0;
  font-weight: 600;
  color: black;
}
.function-item p {
  font-size: 15px;
  font-weight: 300;
  color: #737373;
}
.function-item button {
  padding: 8px 10px;
  font-size: 18px;
}

.align-center {
  align-items: center;
}

.resource-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.resource-links li {
  list-style: none;
  font-size: 18px;
  margin-right: 20px;
  margin-bottom: 10px;
  color: #999999;
  cursor: pointer;
}
.resource-links li.active {
  color: #ff3333;
  position: relative;
}
.resource-links li.active::after {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ff3333;
  position: absolute;
  content: "";
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
.resource-links.single {
  flex-direction: column;
  align-items: flex-start;
}
.resource-links.single li {
  margin-top: 20px;
}
.resource-links.single h4 {
  font-size: 20px;
}

a {
  text-decoration: none !important;
}

.res-search {
  margin-bottom: 20px;
  border-radius: 10px;
  height: 35px;
  background-color: #f2f2f2;
  border: none;
  padding: 0 20px;
  min-width: 300px;
  outline: none;
}

.resource-container {
  display: grid;
  grid-template-columns: 3fr 2.5fr;
  grid-gap: 4rem;
}
.resource-container.single {
  grid-template-columns: 3fr 1fr;
}
.resource-container.single h4 {
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .resource-container.single {
    grid-template-columns: 1fr;
  }
}
.resource-container.second {
  grid-template-columns: 3fr 1.5fr;
  grid-gap: 2rem;
}
.resource-container.second h4 {
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .resource-container.second {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 600px) {
  .resource-container {
    grid-template-columns: 1fr;
  }
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
@media screen and (max-width: 600px) {
  .grid-2 {
    grid-template-columns: 1fr;
  }
}

.leave-com {
  color: #a6a6a6;
  margin-bottom: 20px;
}

.resource-card .cover {
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.resource-card .res-title {
  margin: 20px 0 10px 0;
  font-size: 30px;
  font-weight: 500;
}
.resource-card p {
  font-size: 16px;
  font-weight: 300;
}
.resource-card .authon-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.resource-card .authon-con .link-next {
  font-size: 50px;
  color: #f76767;
}
.resource-card .authon-con.single {
  display: block;
  margin: 20px 0;
}
.resource-card .authon-con.single a {
  color: #ff3333;
}
.resource-card .author h2 {
  font-size: 22px;
  color: #999999;
}
.resource-card .author p {
  color: #999999;
}
.resource-card.single p {
  line-height: 30px;
  text-align: justify;
}

.resource-card.sub {
  display: flex;
  margin-bottom: 1rem;
}
.resource-card.sub .cover {
  height: 150px;
  min-width: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.resource-card.sub .res-title {
  margin: 0px;
  font-size: 18px;
  font-weight: 500;
}
.resource-card.sub p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 3px !important;
}
.resource-card.sub .card-content {
  padding: 20px;
}
.resource-card.sub .authon-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.resource-card.sub .authon-con .link-next {
  font-size: 20px;
  color: #f76767;
}
.resource-card.sub .author h2 {
  line-height: 25px;
  font-size: 15px;
  margin-bottom: 0px !important;
}
.resource-card.sub .author p {
  font-size: 12px;
}

.resource-card.small .cover {
  height: 150px;
  min-width: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.resource-card.small .res-title {
  margin: 0px;
  font-size: 18px;
  font-weight: 500;
}
.resource-card.small p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 3px !important;
}
.resource-card.small .card-content {
  padding: 20px 0;
}
.resource-card.small .authon-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.resource-card.small .authon-con .link-next {
  font-size: 20px;
  color: #f76767;
}
.resource-card.small .author h2 {
  line-height: 25px;
  font-size: 15px;
  margin-bottom: 0px !important;
}
.resource-card.small .author p {
  font-size: 12px;
}

.recent-post-con {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
  grid-gap: 2rem;
}

.paginator {
  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.paginator .page-list {
  display: flex;
  align-items: center;
}
.paginator .page-list a {
  margin-right: 2rem;
}
.paginator .page-list a:last-child {
  margin-right: 0;
}
.paginator .page-list li {
  width: 70px;
  height: 70px;
  border: 2px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: gray;
  font-weight: 500;
  box-sizing: border-box;
  cursor: pointer;
}
.paginator .page-list li.active {
  border: none;
  background-color: #ffcccc;
}
@media screen and (max-width: 600px) {
  .paginator .page-list li {
    width: 40px;
    height: 40px;
    border: 1px solid #cccccc;
    font-size: 14px;
    margin-right: 1rem;
  }
}
.paginator .page-sum {
  font-size: 18px;
  color: #999999;
  font-weight: 500;
}
@media screen and (max-width: 600px) {
  .paginator .page-sum {
    font-size: 14px;
  }
}

.res-cover {
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.res-cover .overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.res-cover .res-con {
  position: relative;
  color: white;
  text-align: center;
  max-width: 900px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.res-cover .res-con h4 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  max-width: 500px;
  text-transform: uppercase;
}
.res-cover .res-con p {
  font-size: 18px;
  font-weight: 400;
  max-width: 700px;
}
.res-cover.second {
  display: block;
}
.res-cover.second .res-con {
  margin-top: 5%;
}

.res-mid {
  padding: 4rem 20px;
  margin: 0 auto;
  max-width: 700px;
}
.res-mid .heading {
  color: gray;
  text-align: center;
  max-width: 900px;
  font-size: 22px;
}
.res-mid .res-bullet {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.res-mid .res-bullet div {
  font-size: 20px;
  font-weight: 300;
  color: gray;
}
.res-mid .res-bullet div:nth-child(2) {
  margin-left: 2rem;
}
.res-mid .res-bullet img {
  width: 40px;
}

.res-max {
  max-width: 1000px;
  line-height: 30px;
}

.mobile, .mobile2 {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .mobile2 {
    display: block;
  }
}
.side-bar-links {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100vh;
  transition: 0.5s ease;
  visibility: hidden;
  opacity: 0;
}
.side-bar-links .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.side-bar-links .drawer {
  width: 250px;
  background-color: #ff6666;
  height: 100%;
  padding-top: 20vh;
  position: relative;
}
.side-bar-links .drawer a {
  color: white;
}
.side-bar-links .drawer svg {
  color: white;
}
.side-bar-links .drawer li {
  list-style: none;
  text-align: center;
  font-size: 20px;
  margin-bottom: 25px;
  font-weight: 500;
}
.side-bar-links .drawer li:last-child {
  margin-bottom: 0;
}

.white-heading .drawer {
  background-color: white;
}
.white-heading .drawer a {
  color: #ff6666;
}

.side-bar-links.open {
  visibility: visible;
  opacity: 1;
}

.career-card {
  margin-bottom: 30px;
}
.career-card h3 {
  font-size: 22px;
  font-weight: 500;
  color: black;
}
.career-card p {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
}
.career-card h4 {
  margin: 10px 0;
  font-size: 16px !important;
  font-weight: 300;
  color: #999999;
}
.career-card button {
  font-size: 16px;
  font-weight: 400;
  border-radius: 30px;
  padding: 2px 30px;
  margin-top: 10px;
}

.h-light {
  color: gray;
}

.single-career-form {
  position: fixed;
  top: 45vh;
  right: 22vw;
  transform: translateY(-50%);
  width: 100%;
  max-width: 450px;
}
@media screen and (max-width: 1440px) {
  .single-career-form {
    right: 15vw;
    max-width: 400px;
  }
}
@media screen and (max-width: 1280px) {
  .single-career-form {
    right: 10vw;
    max-width: 350px;
  }
}
@media screen and (max-width: 768px) {
  .single-career-form {
    max-width: 500px;
    position: relative;
    transform: translateY(0);
    right: 0;
    top: 0;
  }
}
@media screen and (max-width: 480px) {
  .single-career-form {
    max-width: 100%;
  }
}
.single-career-form.second {
  max-width: 350px;
  position: relative;
  transform: translateY(0);
  right: 0;
  top: 0;
}

.single-career-con {
  padding: 40px 0;
  max-width: 500px;
}
.single-career-con .title {
  font-size: 30px;
  margin: 20px 0;
  color: #ff3333;
}
.single-career-con.one {
  padding: 40px 0 0 0;
}
.single-career-con.one .title {
  font-size: 40px;
}
.single-career-con.two {
  padding: 0 0 40px 0;
}
.single-career-con .info {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 300;
}
.single-career-con .sub-head {
  font-size: 14px;
  margin: 20px 0;
  font-weight: 500;
}
.single-career-con .context {
  font-size: 16px;
  margin: 20px 0;
  font-weight: 300;
  line-height: 25px;
}
.single-career-con.second {
  max-width: 100%;
}
.single-career-con .zone-label {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 300;
}
.single-career-con .time-selector {
  font-size: 18px;
  font-weight: 300;
  color: #999999;
  margin-right: 20px;
}
.single-career-con .nav {
  border: 1.5px solid #e6e6e6;
  padding: 0 10px;
  margin-right: 10px;
  color: #999999;
}
.single-career-con .nav:last-child {
  margin-right: 0;
  margin-left: 20px;
}

.date-table {
  width: 100%;
}
.date-table tr {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, auto));
}
.date-table td {
  height: 70px;
  line-height: 70px;
  color: #999999;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  cursor: not-allowed;
  box-sizing: border-box;
}
.date-table td.active {
  color: black;
  cursor: pointer;
}
.date-table tbody {
  border: 2px solid #e6e6e6;
}
.date-table tbody td {
  border-right: 2px solid #e6e6e6;
  border-bottom: 2px solid #e6e6e6;
}
.date-table tbody td:last-child {
  border-right: none;
}
.date-table tbody td.selected {
  border: 2px solid #ff3333;
  color: #ff3333;
  font-weight: 400;
}
.date-table tbody tr:last-child td {
  border-bottom: none;
}
@media screen and (max-width: 600px) {
  .date-table tr {
    grid-template-columns: repeat(auto-fit, minmax(40px, auto));
  }
  .date-table td {
    height: 50px;
    line-height: 50px;
  }
}

.fc-past {
  opacity: 0.2;
}
.fc-past .fc-day-number {
  color: #000000;
}

.day-highlight {
  background-color: rgba(255, 51, 51, 0.3) !important;
}

.time-slots {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  grid-gap: 1em;
}

.time-main {
  visibility: visible;
  opacity: 1;
  transition: 0.3s ease;
}
.time-main.hidden {
  visibility: hidden;
  opacity: 0;
}

.time-card {
  max-width: 200px;
  border: 1.5px solid #e6e6e6;
  padding: 5px 10px;
  margin-right: 10px;
  color: #999999;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  cursor: not-allowed;
}
.time-card.active {
  color: black;
  cursor: pointer;
}
.time-card.selected {
  background-color: rgba(255, 51, 51, 0.3) !important;
  border-color: rgba(255, 51, 51, 0.3) !important;
  color: black;
  font-weight: 400;
}

.book-text {
  position: relative;
}
.book-text #edit-time {
  position: absolute !important;
  right: -10px;
  bottom: 0;
}

.cancellation-policy {
  padding: 15px;
  border: 2px solid #e6e6e6;
  color: #999999;
}

.complaint-con {
  background-color: #f2f2f2;
  padding: 40px;
}
.complaint-con h1 {
  font-weight: 300;
}
.complaint-con p {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}
.complaint-con .divider {
  margin-bottom: 20px;
}
.complaint-con button {
  margin-top: 100px;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: #cccccc;
}

.concel {
  font-size: 20px;
  font-weight: 300;
  color: #999999;
  padding: 20px 10px;
}

.loading {
  margin-left: 5px;
  animation: rotate infinite 1.5s linear;
}

@keyframes rotate {
  to {
    transform: rotateZ(360deg);
  }
}
.notifier {
  min-width: 200px;
  padding: 20px 40px;
  border-radius: 6px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  position: fixed;
  max-width: 400px;
  z-index: 20;
  right: -420px;
  top: 20px;
  background-color: white;
  font-size: 15px;
  border-left: 5px solid transparent;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease;
}
.notifier .close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.notifier .close svg {
  width: 16px;
}
.notifier.success {
  color: #4ddd84;
  border-color: #4ddd84;
}
.notifier.danger {
  color: #ec605b;
  border-color: #ec605b;
}
.notifier.info {
  color: #21aeb3;
  border-color: #21aeb3;
}
.notifier.show {
  right: 20px;
  visibility: visible;
  opacity: 1;
}

.career-con {
  min-height: 70vh;
}

.faq-con {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
  cursor: pointer;
}
.faq-con .faq-quest {
  padding: 20px;
  background: white;
}
.faq-con .faq-ans {
  padding: 20px;
}

.drop-faq {
  cursor: pointer;
  transition: 0.3s ease;
}
.drop-faq.open {
  transform: rotateZ(180deg);
}

/*# sourceMappingURL=mainStyle.css.map */
